<h1> <%= @billboard.title %> </h1>

<hr />

<h2> Top 20 Songs</h2>
<ul>
<% @songs.each do |song| %>
  <li>
    <%= link_to song.genre, song%>
    <%= link_to song.albun, song %>
    <%= link_to song.title, song %>
    <%= link_to song.length, song %>
  </li>
 <% end %>
  </ul>


  </tbody>
</table>
