<h1> <%= @billboard.title %></h1>
<h3> <%= @billboard.details %></h3>
<hr />
<br />
<h2> Top Hits </h2>
<ul>
    <% @billboard.songs.each do |song| %>
  <li>
    <%= link_to song.title, billboard_song_path(@billboard, song) %>
  </li>
  <% end %>
</ul>
<%= link_to 'Song', billboard_songs_path(@billboard) %>
<br />
<%= link_to 'Delete Billboard', @billboard, method: :delete %>
